* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #191E26;
  color:#EBEBEB;
}

.header{
  position: fixed;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 8vh;
  background-color: #ff7b00;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header .name{
  flex: initial;
  flex-direction: column;
  display: flex;
  background-color: black;
  height: 100%;
  width: 20vw;
  margin-left: 0.25%;
  /*margin-right: 0.25%;*/
  padding-left: 1%;
  padding-right: 1%;  
  
}

.header .name #Trevor{
  margin-top: 1vh;
  display: flex;
  flex: 1;
  font-size: 3vh;
  justify-content: left;
  font-weight:bold;
}

.header .name #Titles{
  margin-top: 0vh;
  display: flex;
  flex: 1;
  justify-content: left;
  font-size: 2vh;
  color: #ff7b00;
  font-style: italic;
}

.header .navlist{
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#navbutton{
  flex: 1;
  font-size: 3vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  height: 100%;
  
}

.header .navlist a{
  text-decoration: none;
  height: 100%;
  display: flex;
  flex: 1;
  text-align: center;
}

#navbutton:hover{
  color: #ff7b00;
  background-color: #191E26;
  transition: 200ms linear;
}
