* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #191E26;
  color:#EBEBEB;
  display: flex;
  flex-direction: column;
}

/*Header*/

.header{
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 8vh;
  background-color: #ff7b00;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerblock{ /*makes sure nothing gets under the header*/
  width: 100%;
  height: 8vh;
}

.header .name{
  flex-direction: column;
  display: flex;
  background-color: black;
  height: 100%;
  width: 20vw;
  margin-left: 0.25%;
  /*margin-right: 0.25%;*/
  padding-left: 1%;
  padding-right: 1%;  
  
}

.header .name #Trevor{
  margin-top: 1vh;
  display: flex;
  flex: 1;
  font-size: 3vh;
  justify-content: left;
  font-weight:bold;
}

.header .name #Titles{
  margin-top: 0vh;
  display: flex;
  flex: 1;
  justify-content: left;
  font-size: 2vh;
  color: #ff7b00;
  font-style: italic;
}

.header .navlist{
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#navbutton{
  flex: 1;
  font-size: 3vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  height: 100%;
  
}

.header .navlist a{
  text-decoration: none;
  height: 100%;
  flex: 1;
}

#navbutton:hover{
  color: #ff7b00;
  background-color: #191E26;
  transition: 200ms linear;
}

/*End Header*/

/*Icons*/
.icon-linkedin {
  mask: url(/images/svgs/linkedin.svg);
}
.icon-email {
  mask: url(/images/svgs/email.svg);
}
/*.icon-phone {
  mask: url(images/svgs/phone.svg);
}
*/
.icon-discord {
  mask: url(/images/svgs/discord.svg);
}
.icon-instagram {
  mask: url(/images/svgs/instagram.svg);
}

/*Footer*/

.footer{
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .rightpadding{
  display: flex;
  flex: 1;
}

.footer #copyright{
  display: flex;
  flex: 1;
  font-size: 2vh;
  justify-self: left;
  margin-left: 1vw;
}

.footer #contact{
  color: #EBEBEB;
  font-size: 2vh;
  display: flex;
  flex: 1;
}

.footer #contact:hover{
  color: #ff7b00;
  transition: 200ms linear;
}

.footer a{
  text-decoration: none;
}

.icon {
  display: inline-block;
  background-color: #EBEBEB;
  mask-size: cover;
}

.icon:hover,
.icon:focus {
  transition: 300ms;
  background: #ff7b00;
}

.footericon{
  width: 4vh;
  height: 4vh;
  margin-left: 0.25vw;
}

/*End Footer*/


/*Contact*/

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshotcontacts{
  height: 85vh;
  width: 75vw;
  background: url(images/headshot2.png) no-repeat 0 0;
  background-size: cover;
  transform: scaleX(-1);
  display: flex;
  flex-direction: row-reverse;
}

.headshotcontacts .middlepadding{
  display: flex;
  flex: 1;
}

.headshotcontacts .rightpadding{
  display: flex;
  flex: 1;
}

.headshotcontacts .contact-text{
  display: flex;
  flex: 1;
  transform: scaleX(-1);
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0,0,0,0.5);
}

#contactme{
  margin-bottom: 2vh;
  font-size: 4vh;
  color: #ff7b00;
  font-weight: bold;
}

.headshotcontacts .contactform{
  background-color: rgba(0,0,0,0.3);
  color: #ebebeb;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2vh;
  width: 15vw;
  height: 40vh;
}

.headshotcontacts .contactform form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 2vh;
}

.headshotcontacts .contactform .name{
  display: flex;
  flex-direction: column;
}

.headshotcontacts .contactform input[type="text"], textarea{
  background-color: #ebebeb;
  margin-bottom: 1vh;
  resize: none;
  border: 0.15em solid black;
  border-radius: 0.25em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2vh;
}

.headshotcontacts .contactform input[type="submit"]{
  border: none;
  border-radius: 0.5em;
  background-color: black;
  color: #bebebe;
  font-weight: bold;
  font-size: 2vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 5vh;
  width: 5em;
}

.headshotcontacts .contactform input[type="submit"]:hover{
  transition: 200ms linear;
  color: #ff7b00;
  cursor: pointer;
  background-color: #191E26;
}

.headshotcontacts .contact-text .contacts{
  display: flex;
  width: 15vw;
  flex-direction: row;
  justify-content: space-between;
}

.headshotcontsicon{
  width: 6vh;
  height: 6vh;
  margin-left: 0.25vw;
}

/*End Contact*/


/*Projects*/

.sortcontainer{
  display: flex;
  justify-content: center;
}

.sortlist{
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 5vh;
  background-color: #ff7b00;
}

.sortlist a{
  text-decoration: none;
  text-align: center;
  flex: 1;
}

#sortbutton{
  font-size: 2vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  height: 100%;
}

#sortbutton:hover{
  color: #ff7b00;
  background-color: #191E26;
  transition: 200ms linear;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .proj{
  display: flex;
  flex-direction: row;
  flex: 1;

  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;

}

.projects img{
  width: 47vh;
  height: 38vh;
  border: 0.2em solid black;
  border-radius: 2.5%;
}

.projects .proj .text{
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-left: 1vw;
}

.projects .proj #project-title{
  font-size: 5vh;
  color: #ff7b00;
}

.projects .proj .project-info{
  display: flex;
  flex-direction: column;

  color: #bebebe;
  font-size: 2vh;
  margin-bottom: 1vh;
}

.projects .proj #project-shortdesc{
  font-size: 2vh;
}

.projects .proj #linkmore{
  color: #bebebe;
  text-decoration: none;
  margin-top: 1vh;
  font-size: 2vh;
}

.projects .proj #linkmore:hover{
  transition: 100ms;
  color: #ff7b00;
}

/*End Projects*/