* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #191E26;
  color:#EBEBEB;
  display: flex;
  flex-direction: column;
}

/*Header*/

.header{
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 8vh;
  background-color: #ff7b00;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerblock{ /*makes sure nothing gets under the header*/
  width: 100%;
  height: 8vh;
}

.header .name{
  flex-direction: column;
  display: flex;
  background-color: black;
  height: 100%;
  width: 20vw;
  margin-left: 0.25%;
  /*margin-right: 0.25%;*/
  padding-left: 1%;
  padding-right: 1%;  
  
}

.header .name #Trevor{
  margin-top: 1vh;
  display: flex;
  flex: 1;
  font-size: 3vh;
  justify-content: left;
  font-weight:bold;
}

.header .name #Titles{
  margin-top: 0vh;
  display: flex;
  flex: 1;
  justify-content: left;
  font-size: 2vh;
  color: #ff7b00;
  font-style: italic;
}

.header .navlist{
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#navbutton{
  flex: 1;
  font-size: 3vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  height: 100%;
  
}

.header .navlist a{
  text-decoration: none;
  height: 100%;
  flex: 1;
}

#navbutton:hover{
  color: #ff7b00;
  background-color: #191E26;
  transition: 200ms linear;
}

@media only screen and (max-width: 600px){
  .header .name{
    width: 50vw;
    display: flex;
    background-color: black;
    height: 100%;
    flex-direction: row;
  }

  .header .name #Trevor{
    margin-top: 1vh;
    display: flex;
    flex: 1;
    font-size: 2.5vh;
    justify-content: left;
    font-weight: bold;
  }

  .header .name #Titles{
    margin-top: 1vh;
  }
}

/*End Header*/

/*Icons*/
.icon-linkedin {
  mask-image: url(images/svgs/linkedin.svg);
  -webkit-mask-box-image: url(images/svgs/linkedin.svg);
}
.icon-email {
  mask: url(images/svgs/email.svg);
  -webkit-mask-box-image: url(images/svgs/email.svg);
}
/*.icon-phone {
  mask-image: url(images/svgs/phone.svg);
  -webkit-mask-box-image: url(images/svgs/phone.svg);
}
*/
.icon-discord {
  mask-image: url(images/svgs/discord.svg);
  -webkit-mask-box-image: url(images/svgs/discord.svg);
}
.icon-instagram {
  mask-image: url(images/svgs/instagram.svg);
  -webkit-mask-box-image: url(images/svgs/instagram.svg);
}

/*Footer*/

.footer{
  height: 7vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .rightpadding{
  display: flex;
  flex: 1;
}

.footer #copyright{
  display: flex;
  flex: 1;
  font-size: 2vh;
  justify-self: left;
  margin-left: 1vw;
}

.footer #contact{
  color: #EBEBEB;
  font-size: 2vh;
  display: flex;
  flex: 1;
}

.footer #contact:hover{
  color: #ff7b00;
  transition: 200ms linear;
}

.footer a{
  text-decoration: none;
}

.icon {
  display: inline-block;
  background-color: #EBEBEB;
  mask-size: cover;
}

.icon:hover,
.icon:focus {
  transition: 300ms;
  background: #ff7b00;
}

.footericon{
  width: 4vh;
  height: 4vh;
  margin-left: 0.25vw;
}

/*End Footer*/


/*Contact*/

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshotcontacts{
  height: 85vh;
  width: 75vw;
  background: url(images/headshot2.png) no-repeat 0 0;
  background-size: cover;
  transform: scaleX(-1);
  display: flex;
  flex-direction: row-reverse;
}

.headshotcontacts .middlepadding{
  display: flex;
  flex: 1;
}

.headshotcontacts .rightpadding{
  display: flex;
  flex: 1;
}

.headshotcontacts .contact-text{
  display: flex;
  flex: 1;
  transform: scaleX(-1);
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0,0,0,0.5);
}

#contactme{
  margin-bottom: 2vh;
  font-size: 4vh;
  color: #ff7b00;
  font-weight: bold;
}

.headshotcontacts .contactform{
  background-color: rgba(0,0,0,0.3);
  color: #ebebeb;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2vh;
  width: 15vw;
  height: 40vh;
}

.headshotcontacts .contactform form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 2vh;
}

.headshotcontacts .contactform .name{
  display: flex;
  flex-direction: column;
}

.headshotcontacts .contactform input[type="text"], textarea{
  background-color: #ebebeb;
  margin-bottom: 1vh;
  resize: none;
  border: 0.15em solid black;
  border-radius: 0.25em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2vh;
}

.headshotcontacts .contactform input[type="submit"]{
  border: none;
  border-radius: 0.5em;
  background-color: black;
  color: #bebebe;
  font-weight: bold;
  font-size: 2vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 5vh;
  width: 5em;
}

.headshotcontacts .contactform input[type="submit"]:hover{
  transition: 200ms linear;
  color: #ff7b00;
  cursor: pointer;
  background-color: #191E26;
}

.headshotcontacts .contact-text .contacts{
  display: flex;
  width: 15vw;
  flex-direction: row;
  justify-content: space-between;
}

.headshotcontsicon{
  width: 6vh;
  height: 6vh;
  margin-left: 0.25vw;
}

/*End Contact*/


/*Projects*/

.sortcontainer{
  display: flex;
  justify-content: center;
}

.sortlist{
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 5vh;
  background-color: #ff7b00;
}

.sortlist a{
  text-decoration: none;
  text-align: center;
  flex: 1;
}

#sortbutton{
  font-size: 2vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
  height: 100%;
}

#sortbutton:hover{
  color: #ff7b00;
  background-color: #191E26;
  transition: 200ms linear;
}

.outside-background{
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects .page-title{
  color: #EBEBEB;
  font-size: 5vh;
  margin-top: 2vh;
}

.projects{
  display: flex;
  flex-direction: column;  
  background-color: #191E26;
  width: 60vw;
  align-items: center;
}

.projects #project-hr{
  color: #ff7b00;
  width: 45vw;
}

.projects .proj{
  display: flex;
  flex-direction: row;
  flex: 1;

  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 55vw;

}

.projects img{
  width: 35vh;
  height: 28vh;
  border: 0.2em solid black;
  border-radius: 2.5%;
}

.projects .proj .text{
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-left: 1vw;
}

.projects .proj #project-title{
  font-size: 4vh;
  color: #ff7b00;
}

.projects .proj .project-info{
  display: flex;
  flex-direction: column;

  color: #bebebe;
  font-size: 2vh;
  margin-bottom: 1vh;
}

.projects .proj #project-shortdesc{
  font-size: 2vh;
}

.projects .proj .links{
  display: flex;
  flex-direction: row;
}

.projects .proj .links #linkmore{
  color: #bebebe;
  text-decoration: none;
  margin-top: 1vh;
  font-size: 2vh;
}

.projects .proj .links #linkmore:hover{
  transition: 100ms;
  color: #ff7b00;
}

.projects .proj .links #linkmoreseparator{
  color: #bebebe;
  text-decoration: none;
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-size: 2vh;
}

@media only screen and (max-width: 600px){
  .projects{
    width: 100vw;
  }
  
  .projects .proj{
    flex-direction: column;
    align-items: center;
  }

  .projects .proj .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*End Projects*/

/*Etiam*/
.etiambackground{
  background-color: #0a0a0F;
  background-image: url("/images/projects/etiam/stars.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.etiampagecontent{
  display: flex;
  flex-direction: column;
  
  width: 50vw;
  background-color: #0a0a0Fd3;
}

.fullbanner img{
  width: 50vw;
}

.etiampagecontent .project-info{
  font-size: 2vh;
  color: #31FF00;
  margin-left: 1vw;
  margin-top: 1vh;
}

.etiampagecontent #title{
  font-size: 5vh;
  margin-top: 1vh;
  align-self: center;

  color: #31FF00;
}

.etiampagecontent #itchlink{
  align-self: center;
  margin-top: 2vh;
}

.etiampagecontent #body{
  font-size: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1vh;
  color: #5d9251;
}

.etiampagecontent #etiam-hr{
  color: #31FF00;
  width: 45vw;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.etiampagecontent #heading{
  font-size: 2.5vh;
  align-self: center;
  margin-top: 3vh;
  color: #31FF00;
}
.etiampagecontent .hovertext{
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.etiampagecontent .hovertext  #ship{
  height: 15vh;
}


/*End Etiam*/

/*WorldView*/
.worldviewbackground{
  background-color: #AC3232;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.worldviewcontent{
  display: flex;
  flex-direction: column;
  
  width: 50vw;
  background-color: #000000;
}


.worldviewcontent .project-info{
  color: #5FCDEF;
  font-size: 2vh;
  margin-left: 1vw;
  margin-top: 1vh;
}

.worldviewcontent #title{
  font-size: 5vh;
  margin-top: 1vh;
  align-self: center;

  color: #5FCDEF;
}

.worldviewcontent #itchlink{
  align-self: center;
  margin-top: 2vh;
}

.worldviewcontent #body{
  font-size: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 1vh;
  color: #ffffff;
}

.worldviewcontent #worldview-hr{
  color: #5FCDEF;
  width: 45vw;
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.worldviewcontent #heading{
  font-size: 2.5vh;
  align-self: center;
  margin-top: 3vh;
  color: #5FCDEF;
}
.worldviewcontent .hovertext{
  align-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.worldviewcontent .hovertext  #ship{
  height: 15vh;
}


/*End WorldView*/


/*UAT Boards*/

.objectives{
  display: flexbox;
}

.objectives #degree{
  display: flex;
  flex-direction: column;
  font-size: 3.5vh;
  font-weight: bold;
  margin-left: 5vw;
  margin-top: 3vh;
  color: #ff7b00;

}

.objectives #degree-hr{
  margin-bottom: 3vh;
  margin-top: 3vh;;
}

.objectives #objective{
  display: flex;
  justify-content: center;
  font-size: 2.75vh;
  font-style: italic;
  color: #ebebeb;
  font-weight: bold;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.objectives #objective-hr{
  margin-bottom: 5vh;
  margin-top: 3vh;;
}

.objectives .projects .proj{
  margin-top: 4vh;
  margin-bottom: 1vh;
}

/*End UAT Boards*/

/*UAT SIP*/

@font-face {
  font-family: glacialIndifference-bold;
  src: url(images/projects/sip/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: glacialIndifference;
  src: url(images/projects/sip/GlacialIndifference-Regular.otf);
}


.SIP{
  background-color: #21133d;
  display: flexbox;
  align-items: center;
  font-family: glacialIndifference;
}

.SIP #Title{
  display: flex;
  justify-content: center;
  font-size: 7vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: glacialIndifference-bold;
}

.SIP #Slogan{
  display: flex;
  justify-content: center;
  font-size: 3vh;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

.SIP .responsibilitybar{
  display: flex;
  justify-content: center;
}

.SIP .responsibilitybar img{
  width: 17vw;
  height: 4vh;
}

.SIP .responsibilitybar #top{
  margin-top: 5vh;
}

.SIP #sip-title-hr{
  margin-left: 15vw;
  margin-right: 15vw;
  color: #ff7b00;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.SIP #innovation-claim-title{
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font-family: glacialIndifference-bold;
  color: #e14566;
}

.SIP #innovation-claim{
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  margin-top: 1vh;
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: center;
}

.SIP #sip-hr{
  margin-left: 25vw;
  margin-right: 25vw;
  color: #ff7b00;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.SIP #work-in-progress{ /*Temporary*/
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  margin-top: 10.75vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 5vh;
  text-align: center;
}

/*End UAT SIP*/